@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --font: "Inter", sans-serif;
}

*{
    font-family: var(--font);
    margin: 0;
}

.container{
    background-color: rgb(229, 232, 235);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo{
    width: 120px;
    height: 120px;
}

.logo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

header, .counter-container .top{
    display: flex;
    align-items: center;
    flex-direction: column;
}

header nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1{
    font-size: 4rem;
}

header small{
    font-size: 1rem;
    font-style: italic;
}

.counter-container{
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 20px;
    gap: 15px;
}

.counter-container p{
    color: rgb(34, 38, 42);
    text-shadow: rgba(0, 0, 0, 1);
}

.counter-container .top p{
    font-weight: bold;
    font-size: 1.2rem;
}

.counter-container .top h1{
    font-size: 3.4rem;
}

.counter-container .top small{
    font-style: italic;
    font-size: 1.1rem;
    color: rgb(156, 163, 175);
}

.text-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.text-wrapper p{
    font-weight: bold;
    font-size: 1.2rem;
}